@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&display=swap");

:root {
  --primary: #e00543;
  --secondary: hsl(0, 0%, 0%);
  --light: #f9f5f0;
  --stars: #fff5e4;
  --box-shadow: 0 0 7px -4px var(--secondary);
  --text-shadow: 2px 3px 2px var(--primary);
  --border: 0.1rem solid rgba(0, 0, 0, 0.3);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
}

html {
  font-size: 65.2%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: "Nunito Sans", sans-serif;
  background: radial-gradient(white, #f5f5ed);
}

ul,
ol {
  list-style: none;
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99999;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 95%;
  width: 1500px;
  margin-left: auto;
  margin-right: auto;
}

::selection {
  background-color: var(--primary);
  color: white;
}

section {
  padding-top: 5rem;
}

.btn {
  display: inline-block;
  margin-top: 2rem;
  border: 1px solid var(--primary);
  padding: 0.7rem 1.7rem;
  font-size: 1.7rem;
  color: var(--secondary);
  position: relative;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  cursor: pointer;
  z-index: 1;
}

.btn::before {
  content: "";
  position: absolute;
  height: 100%;
  background: var(--primary);
  width: 2px;
  top: 0;
  left: 0px;
  opacity: 0;
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  z-index: -1;
}

.btn:hover::before {
  width: 100%;
  opacity: 1;
}

.btn:hover {
  color: var(--light);
}

.heading {
  color: var(--secondary);
  text-align: center;
  font-size: 3rem;
  letter-spacing: 1px;
  padding-bottom: 3rem;
  padding-top: 6rem;
}

.heading span {
  color: var(--primary);
}

.btnTOP {
  position: fixed;
  right: 25px;
  font-size: 40px;
  background-color: var(--primary);
  padding: 0 5px;
  color: var(--light);
  border-radius: 5px;
  z-index: 995;
  cursor: pointer;
  bottom: 100%;
  opacity: 0;
}
@media (max-width: 768px) {
  .btnTOP {
    right: 5px;
  }
}

.btnTOP.active {
  opacity: 1;
  bottom: 20px;
}

/* Start header Section */

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px 0;
  box-shadow: var(--box-shadow);
  background-color: rgba(255, 255, 255, 0.842);
  z-index: 999;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .logo i {
  color: var(--primary);
  font-size: 3rem;
}

header nav a {
  margin-left: 1.2rem;
  color: var(--black);
  font-size: 1.6rem;
}

header nav a:hover {
  color: var(--primary);
}

#toggle-btn {
  font-size: 2.2rem;
  color: var(--secondary);
  padding: 4px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  cursor: pointer;
  display: none;
}

@media (max-width: 768px) {
  #toggle-btn {
    display: block;
  }
  nav {
    position: absolute;
    top: 75px;
    left: 1rem;
    right: 1rem;
    opacity: 0;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    background-color: #eee;
  }
  nav a {
    display: block;
    padding: 1.5rem;
    margin-bottom: 1rem;
    position: relative;
    z-index: 1;
    margin-left: 0 !important;
    background-color: #fff;
  }

  nav a::before {
    content: "";
    position: absolute;
    left: -1px;
    top: 0;
    height: 100%;
    width: 2px;
    background-color: var(--primary);
    opacity: 0.2;
    transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    z-index: -2;
  }

  nav a:hover::before {
    width: 100%;
  }

  nav a:hover {
    color: var(--secondary) !important;
  }
}

nav.active {
  opacity: 1;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
/* End header Section */

/* End Landing Section */

.home .container {
  height: 100vh;
}

.home .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.home .landing-text {
  width: 45%;
}

.home .landing-text h1 {
  font-size: 4rem;
  padding-top: 5rem;
  color: #333;
}

.home .landing-text p {
  font-size: 1.5rem;
  line-height: 140%;
  padding-top: 2rem;
  color: var(--secondary);
}

.home .landing-photo {
  width: 45%;
}

.home .landing-photo img {
  width: 100%;
}

@media (max-width: 768px) {
  .home .container {
    gap: 0;
  }
  .home .landing-photo {
    width: 100%;
  }
  .home .landing-text {
    width: 90%;
  }
  .home .landing-text h1 {
    font-size: 3rem;
    padding-top: 15rem;
  }
  .home .landing-text p {
    font-size: 1.1rem;
    padding-top: 1.5rem;
  }
}

/* End Landing Section */

/* start Specialty section */

.speciality .content {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 2rem;
}

.speciality .content .item {
  position: relative;
  flex: 1 1 30rem;
  text-align: center;
  background-color: #eee;
  padding: 2rem;
  overflow: hidden;
  border: var(--border);
  cursor: pointer;
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
}
.speciality .content .item i {
  color: var(--primary);
  font-size: 5rem;
  padding-bottom: 2rem;
}
.speciality .content .item h3 {
  font-size: 2.2rem;
  color: #444;
  padding-bottom: 2rem;
}
.speciality .content .item p {
  font-size: 1.3rem;
  color: var(--secondary);
}

.speciality .content .item img {
  position: absolute;
  top: -100%;
  object-fit: cover;
  left: 0;
  width: 100%;
  height: 100%;
}

.speciality .content .item:hover img {
  top: 0;
}

.speciality .content .item:hover .text {
  transform: translateY(130%);
  -webkit-transform: translateY(130%);
  -moz-transform: translateY(130%);
  -ms-transform: translateY(130%);
  -o-transform: translateY(130%);
}
/* end Specialty section */

/* start popular section */

.popular .content {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.popular .card {
  text-align: center;
  flex: 1 1 30rem;
  padding: 3rem;
  border: var(--border);
  background-color: #eee;
  box-shadow: var(--box-shadow);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.popular .card img {
  object-fit: cover;
  border-radius: 5px;
  width: 100%;
  height: 200px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.popular .card .photo {
  position: relative;
}

.popular .card .photo:before {
  content: "$5 - $20";
  position: absolute;
  top: 10px;
  left: 10px;
  color: white;
  font-size: 1.7rem;
  background-color: var(--primary);
  padding: 0.5rem 1rem;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.popular .card h3 {
  text-align: center;
  padding: 0.5rem;
  font-size: 2.5rem;
}

.popular .card .stars {
  text-align: center;
  font-size: 1.8rem;
  color: rgb(214, 214, 78);
}

.popular .card a {
  margin: 0.5rem;
}

/* end popular section */

/* start works section */

.works .content {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.works .content .item {
  display: flex;
  box-shadow:var(--box-shadow);
  flex-direction: column;
  flex: 1 1 25rem;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 1s ease;
  -webkit-transition: 1s ease;
  -moz-transition: 1s ease;
  -ms-transition: 1s ease;
  -o-transition: 1s ease;
}
.works .content .item:hover img {
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
}

.works .content .item img {
  width: 150px;
  height: 150px;
  box-shadow: var(--box-shadow);
  border-radius: 50%;
  outline: 1.2rem solid #e6e7e5;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  text-align: center;
}
@media (max-width: 768px) {
  .works .content .item img {
    width: 100px;
    height: 100px;
  }
}

.works .content .item p {
  font-size: 2rem;
  text-align: center;
  text-transform: capitalize;
  margin-top: 1.8rem;
}
/* end works section */

/* start gallery section */

.gallery .content {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.gallery .content .item {
  position: relative;
  flex: 1 1 30rem;
  height: 250px;
  text-align: center;
  background-color: #eee;
  overflow: hidden;
  border: var(--border);
  cursor: pointer;
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
}

.gallery .content .item:hover .text {
  top: 0;
}

.gallery .content .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding: 1rem;
}

.gallery .content .item .text {
  position: absolute;
  top: -100%;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #eee;
  opacity: 0.9;
}

.gallery .content .item .text h3 {
  font-size: 1.8rem;
  color: var(--secondary);
}

.gallery .content .item .text p {
  color: var(--secondary);
  padding: 1.4rem 1.4rem 0 1.4rem;
}

.gallery .content .item .text a {
  margin-top: 1rem;
  z-index: 1;
}
/* end gallery section */

/* start reviews section */
.reviews .heading {
  padding-bottom: 7rem;
}

.reviews .content {
  display: flex;
  flex-wrap: wrap;
  row-gap: 7.5rem;
  column-gap: 1.2rem;
}

.reviews .content .item {
  flex: 1 1 25rem;
  border: 1rem solid #eee;
  background-color: var(--secondary);
  padding: 1.5rem;
  text-align: center;
  box-shadow: var(--box-shadow);
}

.reviews .content .item img {
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  border: 1rem solid #eee;
  margin-top: -8.5rem;
}

.reviews .content .item h3 {
  font-size: 1.8rem;
  color: #eee;
  padding: 1rem;
}

.reviews .content .item .stars i {
  color: var(--stars);
  font-size: 1.5rem;
}

.reviews .content .item p {
  font-size: 1.4rem;
  color: #eee;
  padding: 1rem 1rem 0 1rem;
}
/* end reviews section */

/* end order section */
.order .row {
  padding: 2rem;
  box-shadow: var(--box-shadow);
  background-color: #eee;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  border-radius: 1rem;
}

.order .row .image {
  flex: 1 1 30rem;
  padding: 1rem;
}

.order .row .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}

.order .row form {
  flex: 1 1 50rem;
  padding: 1rem;
}

.order .row form .input-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.order .row form .input-box input,
.order .row form textarea {
  padding: 1rem;
  margin: 1rem 0;
  font-size: 1.7rem;
  color: var(--secondary);
  text-transform: none;
  width: 49%;
  border-radius: 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.438);
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}

@media (max-width: 768px) {
  .order .row form .input-box input,
  .order .row form textarea {
    width: 100%;
    margin: 0.2rem 0;
  }
  .order .row {
    padding: 0rem;
    gap: 0rem;
  }
  .order .row .btn {
    margin-top: 0.2rem;
  }
}

.order .row form textarea {
  resize: none;
  width: 100%;
  height: 15rem;
}

.order .row form .btn {
  background: none;
}

.order .row form .btn:hover {
  background: var(--primary);
  color: #eee;
}
/* end order section */

footer {
  padding: 2rem 0;
  margin-top: 4rem;
  background-color: #eee;
  box-shadow: var(--box-shadow);
}
footer .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

footer .container .social {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0 1rem;
}

footer .container p {
  font-size: 1.7rem;
  color: var(--secondary);
  text-align: center;
}
footer .container p span {
  font-size: 1.7rem;
  color: var(--primary);
  cursor: pointer;
}

footer .container p span:hover {
  font-size: 2rem;
  text-shadow: var(--text-shadow);
}

@media (max-width: 768px) {
  footer .btn {
    margin-top: 0.2rem;
    width: 100%;
    text-align: center;
  }
}
